AgRes/VOA3R-level2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.voa3r.eu/terms/" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dcterms="http://purl.org/dc/terms/"  
  xmlns:voa3r="http://www.voa3r.eu/terms/" 
  xmlns:ese="http://www.europeana.eu/schemas/ese/" 
  xmlns:marcrel="http://www.loc.gov/marc.relators/" 
  xmlns="http://www.voa3r.eu/terms/">

  <xs:annotation>
    <xs:documentation xml:lang='en'>VOA3R Elememt Set</xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>  
  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>  
  <xs:import namespace="http://www.europeana.eu/schemas/ese/" schemaLocation="http://www.europeana.eu/schemas/ese/ESE-V3.4.xsd"/>
  <xs:import namespace="http://www.loc.gov/marc.relators/" schemaLocation="http://imlsdcc.grainger.uiuc.edu/registry/marcrel.xsd"/>

  <xs:element name='usesTechnique' substitutionGroup='dcterms:description'/>
  <xs:element name='usesInstrument' substitutionGroup='dcterms:description'/>
  <xs:element name='usesProtocol' substitutionGroup='dcterms:description'/>
  <xs:element name='usesMethod' substitutionGroup='dcterms:description'/>
  <xs:element name='measuresVariable' substitutionGroup='dcterms:description'/>
  <xs:element name='objectOfInterest' substitutionGroup='dcterms:description'/>
  <xs:element name='publicationStatus' substitutionGroup='dcterms:description'/>
  <xs:element name='reviewStatus' substitutionGroup='dcterms:description' />
  
  <xs:element name='alternative' substitutionGroup='dc:title' />
  <xs:element name='bibliographicCitation' substitutionGroup='dc:identifier' />
  <xs:element name='abstract' substitutionGroup='dc:description' />
  <xs:element name='accessRights' substitutionGroup='dc:rights' />
  <xs:element name='license' substitutionGroup='dc:rights' />
  <xs:element name='conformsTo' substitutionGroup='dc:format' />
  <xs:element name='references' substitutionGroup='dc:relation' />
  <xs:element name='isReferencedBy' substitutionGroup='dc:relation' />
  <xs:element name='hasPart' substitutionGroup='dc:relation' />
  <xs:element name='isPartOf' substitutionGroup='dc:relation' />
  <xs:element name='hasVersion' substitutionGroup='dc:relation' />
  <xs:element name='isVersionOf' substitutionGroup='dc:relation' />
  <xs:element name='hasTranslation' substitutionGroup='dc:relation' />
  <xs:element name='isTranslationOf' substitutionGroup='dc:relation' />
  
 

  <xs:element name="resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dcterms:title"  minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The title of a VOA3R Resource. An attribute 'xml:lang' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:alternative"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An alternative (parallel) title of a VOA3R Resource. An attribute 'xml:lang' can be used.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:creator"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The author of the intellectual content of a VOA3R Resource. A vCard represestation is expected or a URI.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:contributor"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An entity with a contributing role to the creation of the intellectual content of a VOA3R Resource. A vCard represestation is expected or a URI.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="marcrel:edt"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An entity contributing as an editor to the creation of the intellectual content of a VOA3R Resource. A vCard represestation is expected or a URI.
            </xs:documentation>
          </xs:annotation>
        </xs:element>     
        <xs:element ref="marcrel:rev"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An entity contributing as a reviewer to the creation of the intellectual content of a VOA3R Resource. A vCard represestation is expected or a URI.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="marcrel:trl"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An entity contributing as a translator to the creation of the intellectual content of a VOA3R Resource. A vCard represestation is expected or a URI.
            </xs:documentation>
          </xs:annotation>
        </xs:element>   
        <xs:element ref="dcterms:publisher"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An entity responsible for making the resource available. A vCard represestation is expected or a URI.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:date"  minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>A point of time associated with the availability of a VOA3R Resource. An attribute 'xsi:type="dcterms:W3CDTF"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:language"  minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A language of the intellectual content of the VOA3R resource. An attribute 'xsi:type="dcterms:RFC5646"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:identifier"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An unambiguous reference to the VOA3R resource within a given context. Expected values for 'xsi:type' are "dcterms:URI", "info:doi"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:bibliographicCitation"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Bibliographic citation information for a journal article or similar bibliographic VOA3R Resource. Attributes 'xsi:type="info:ofi/fmt:kev:mtx:ctx"' or 'xsi:type="voa3r:EncodedSchema"' can be used.</xs:documentation>
          </xs:annotation>
        </xs:element>        
        <xs:element ref="dcterms:format"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>The media-type of the described manifestation of the VOA3R resource. An attribute 'xsi:type="dcterms:IMT"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ese:isShownBy"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>An unambiguous URL reference to the VOA3R resource on the provider’s repository. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ese:isShownAt"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>An unambiguous URL reference to VOA3R Resource on the provider’s location in its full information context. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:subject"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Classifications, keywords or key phrases regarding the VOA3R Resource. Expected values for 'xsi:type' are "dcterms:URI", "info:doi" or voa3r:EncodedSchema.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:description"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A textual description of the content of the VOA3R resource. An attribute 'xml:lang' can be used.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:abstract"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The abstract of the described VOA3R resource, if applicable. An attribute 'xml:lang' can be used.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:type"  minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Description of the type of the content of the VOA3R Resource. An attribute 'xsi:type="voa3r:ResourceType"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:rights"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A generic rights statement about the VOA3R Resource. Preferably used for copyright statement. An attribute 'xml:lang' can be used.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:accessRights"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Information about who can access the resource or an indication of its security status. An attribute 'xml:lang' can be used.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:license"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A legal statement or reference to a legal document giving official permission to do something with the VOA3R Resource. Preferably used for copyright statement. An attribute 'xml:lang' can be used if a string is provided or an attribute 'xsi:type="dcterms:URI"' can be used instead.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:reviewStatus"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Description of the review status of the VOA3R Resource. An attribute 'xsi:type="voa3r:PeerReviewStatus"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:publicationStatus"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Description of the type of the publication status of the VOA3R Resource. An attribute 'xsi:type="voa3r:PublicationStatus"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dcterms:relation"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A reference to a related VOA3R Resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:conformsTo"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>An established standard to which the described resource conforms. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:references"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A related resource that is referenced, cited, or otherwise pointed to by the described resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:isReferencedBy"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A related resource that references, cites, or otherwise points to the described resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:hasPart"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A related resource that is included either physically or logically in the described resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:isPartOf"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A related resource in which the described resource is physically or logically included. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:hasVersion"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A related resource that is a version, edition, or adaptation of the described resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:isVersionOf"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A related resource of which the described resource is a version, edition, or adaptation. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:hasTranslation"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The described resource has a translation, namely, the referenced resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:isTranslationOf"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The described resource is a translation of, namely, the referenced resource. An attribute 'xsi:type="dcterms:URI"' is expected.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:objectOfInterest"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The assoaciated object of interest of the research work. Expected values for 'xsi:type' are "dcterms:URI", "info:doi" or voa3r:EncodedSchema.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:measuresVariable"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A variable (dependent or independent) that is being measured by the research work. Expected values for 'xsi:type' are "dcterms:URI", "info:doi" or voa3r:EncodedSchema.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:usesMethod"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The performed procedure for the creation or processing of research data.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:usesProtocol"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Documents a prescribed procedure for the creation or processing of research data.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:usesInstrument"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Description of instrument used in the research data collection. Expected values for 'xsi:type' are "dcterms:URI", "info:doi" or voa3r:EncodedSchema.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="voa3r:usesTechnique"  minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The research data processing technique. Expected values for 'xsi:type' are "dcterms:URI", "info:doi" or voa3r:EncodedSchema.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>      
    </xs:complexType>
  </xs:element>



<!-- Vocabularies -->

<xs:complexType name="RFC5646">
  <xs:simpleContent>
    <xs:restriction base="dc:SimpleLiteral">
      <xs:simpleType>
        <xs:restriction base="xs:language"/>
      </xs:simpleType>
      <xs:attribute ref="xml:lang" use="prohibited"/>
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="ReviewStatus">
  <xs:annotation>
    <xs:documentation>List of possible peer review statuses of a VOA3R resource.</xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
    <xs:restriction base="dc:SimpleLiteral">
      <xs:simpleType>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Non Reviewed"/>
            <xs:enumeration value="Peer Reviewed"/>
            <xs:enumeration value="Accepted"/>
            <xs:enumeration value="Rejected"/>
            <xs:enumeration value="CommunityCommented"/>
            <xs:enumeration value="CommunityRated"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:attribute ref="xml:lang" use="prohibited"/>
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="PublicationStatus">
  <xs:annotation>
    <xs:documentation>List of possible publication statuses of a VOA3R resource.</xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
    <xs:restriction base="dc:SimpleLiteral">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="WorkingDraft"/>
          <xs:enumeration value="Final"/>
          <xs:enumeration value="Submitted"/>
          <xs:enumeration value="Published"/>
        </xs:restriction>
      </xs:simpleType>  
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>


<xs:complexType name="ResourceType">
  <xs:annotation>
    <xs:documentation>List of all different types for a VOA3R resource.</xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
    <xs:restriction base="dc:SimpleLiteral">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Book"/>
          <xs:enumeration value="Journal"/>
          <xs:enumeration value="Conference Proccedings"/>
          <xs:enumeration value="Thesis"/>
          <xs:enumeration value="Bachelor Thesis"/>
          <xs:enumeration value="Master Thesis"/>
          <xs:enumeration value="Doctoral Thesis"/>
          <xs:enumeration value="Research Report"/>
          <xs:enumeration value="Magazine"/>
          <xs:enumeration value="Standard"/>
          <xs:enumeration value="Book Section"/>
          <xs:enumeration value="Journal Contribution"/>
          <xs:enumeration value="Article"/>
          <xs:enumeration value="Review"/>
          <xs:enumeration value="Editorial"/>
          <xs:enumeration value="Letter"/>
          <xs:enumeration value="Meeting Abstract"/>
          <xs:enumeration value="Note"/>
          <xs:enumeration value="Conference Contribution"/>
          <xs:enumeration value="Paper"/>
          <xs:enumeration value="Poster"/>
          <xs:enumeration value="Presentation"/>
          <xs:enumeration value="Magazine Article"/>
          <xs:enumeration value="Learning Resource"/>
          <xs:enumeration value="Multimedia Resource"/>
          <xs:enumeration value="Data Set"/>
          <xs:enumeration value="Conference"/>
          <xs:enumeration value="Project"/>
          <xs:enumeration value="Other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="EncodedSchema">
  <xs:simpleContent>
    <xs:restriction base="dc:SimpleLiteral">
      <xs:simpleType>  
        <xs:restriction base="xs:string">
          <xs:pattern value='[^:]+:.+'/>
        </xs:restriction>
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>
</xs:schema>